{% extends '../base.html' %} {% block title %} Friends {% endblock %} 
{% block content %}
<div class="friends_container">
{% for f in friends %}
<div class="ui card">
  <div class="image">
    <img src="{{f.friend_user.memberprofile.profile_pic.url}}" style="border-radius:50%;"/>
  </div>
  <div class="content">
    <a class="header">{{f.friend_user.username}}</a>
    <div class="meta">
      <span class="date">Joined in {{f.friend_user.memberprofile.date_joined|date:"M Y"}}</span>
    </div>
    <div class="description">{{f.friend_user.bio}}</div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      {{f.friend_user.memberprofile.friends}} Friends
    </a>
  </div>
</div>
{% endfor %}
{% for f in friends2 %}
<div class="ui card">
  <div class="image">
    <img src="{{f.current_user.memberprofile.profile_pic.url}}" />
  </div>
  <div class="content">
    <a class="header">{{f.current_user.username}}</a>
    <div class="meta">
      <span class="date">Joined in {{f.current_user.memberprofile.date_joined|date:"M Y"}}</span>
    </div>
    <div class="description">{{f.current_user.bio}}</div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      {{f.current_user.memberprofile.friends}} Friends
    </a>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}
