{% extends '../base.html' %} {% block title %} Login {% endblock %} 
{% block content %}
<div class="ui padded text container segment">
  <h1>Login</h1>
  {% if error %}
  <div class="ui warning message">
    <i class="close icon"></i>
    <div class="header">
    {{ error }}
    </div>
  </div>
  {% endif %}
    <form class="ui form" action="/members/login/" method="POST">
    {% csrf_token %}
      <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="Username" />
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" />
      </div>
      <button class="ui button" type="submit">Login</button>
    </form>
</div>

{% endblock %}
